/* Basic Styles */
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(205, 220, 247)
}

.main{
  width: 80%;
  margin: auto;
}

/* Header Style */

.header{
  width: 100%;
  height: auto;
}

.header > h1 {
  margin-top: 10px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(40, 62, 104);
}


.nav{
  background-color: rgb(40, 62, 104);
  width: 100%;
  height: auto;
}

ul{
  list-style-type: none;
}

ul > li{
  display: inline-block;
  word-spacing: 20px;
  font-size: 18px;
  padding: 20px;
}

li > a{
  text-decoration: none;
  color: #fff;
}

/* Airport Image */
.header > img{
  width: 100%;
  height: 400px;
}

/* Content style */
h2{
  font-size: 30px;
  margin: 10px 0;
}

.content > p{
  font-style: 1.2em;
  line-height: 27px;
}

.content > p > img{
  width: 15%;
  height: 170px;
  float: right;
}

/* Footer stule */
.footer{
  background-color: rgb(40, 62, 104);
  margin-top: 30px;
padding: 35px;
font-size: 1.2em;
color: #fff;
}
.conten > p >img {
  width: 15%;
  height: 170px;
  float: left;
}

/* Page Title */

.pageTitle{
  background-color: rgb(9, 23, 49);
  height: 200px;
  padding: 50px;
  color: #fff;
  text-align: center;
}
h2{
  text-align: center;
}



